h2 {
    text-align: center;
    margin: 20px 0px 50px 0px;
    font-size: 40px;
  }
  form {
    text-align: center;
  }
  input { 
    display: block;
    margin: 0px auto 20px auto;
    font-size: 20px;
  }
  button {
    background-color: rgb(220, 220, 220);
    margin-top: 25px;
    font-size: 20px;
    border: none;
    text-align: center;
    padding: 20px;
    border-radius: 16px;
}
  button:hover {
    background-color: #555555;
    color: white;
    cursor: pointer;
  }